:root {
  --font-color: #fbf4e6;
  --bg-color: #789ab6;
  --transparent-bg: #03030327;
}

#colourWheel1 {
  width: 250px;
  height: 250px;
  /* background: conic-gradient(); */
  border: 3px solid var(--font-color);
  border-radius: 50%;
  margin-top: 40px;
  background-color: var(--transparent-bg);
}

.spin {
  animation: spin 8s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2880deg); /* 8 rotations */
  }
}
