/* Root variables for global theme colour */
:root {
  --card-main: #3e3e3e;
}

/* Styling for the colour wheel element */
#colourWheel1 {
  width: 200px;
  height: 200px;
  border: 2px solid var(--font-color);
  border-radius: 50%;
  margin-top: 20px;
  background-color: var(--transparent-bg);
}

/* Shared styling for colour wheel elements */
.colourWheel {
  box-shadow: inset 0 0 5px 3px var(--font-color),
    0px 0px 10px rgba(0, 0, 0, 0.8);
}

/* Spin animation styling */
.spin {
  animation: spin 3s linear;
}

/* Keyframes for spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2880deg); /* 8 rotations */
  }
}

/* Styling for mood buttons container */
#mood {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Styling for mood buttons */
.mood-btn {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Styling for the message section */
#messageSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Affirmation card header styling */
#cardH1 {
  padding: 20px 10px;
}

/* Container for the inner content */
#container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  display: none;
}

/* Outer card styling for affirmation card */
.outerCard {
  display: flex;
  flex-direction: row;
  background-color: var(--font-color);
  min-width: 270px;
  max-width: 500px;
  min-height: 200px;
  max-height: 600px;
  border: 2px solid var(--card-main);
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(47, 47, 47, 0.7);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Inner card styling for affirmation card */
#innerCard {
  position: relative;
  background-color: var(--transparent-bg);
  min-width: 80px;
  max-width: 300px;
  min-height: 200px;
  max-height: 600px;
  /* Curve styling added to inner card */
  --br-x: 50%;
  --br-y: 50%;
  --br-i: 7px;
  --br-j: 7px;
  border-top-left-radius: var(--br-i);
  border-bottom-left-radius: var(--br-j);
  border-top-right-radius: var(--br-x) var(--br-y);
  border-bottom-right-radius: var(--br-x) var(--br-y);
  box-shadow: 0 0 5px rgba(47, 47, 47, 0.7);
}

/* Line area styling within the card */
#lineArea {
  position: relative;
  top: 50;
  height: 8px;
  width: 70%;
  margin: 3px 0;
  background-color: var(--transparent-bg);
  border-bottom: 1px solid var(--card-main);
  border-right: 1px solid var(--card-main);
}

/* Styling for selected colour and feeling text */
#selectedColour,
#selectedFeeling {
  color: var(--card-main);
  text-shadow: 1px 1px 3px var(--card-main);
  font-weight: 650;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Margin adjustment for selected colour text */
#selectedColour {
  margin-top: 15px;
}

/* Styling for card title */
#cardTitle {
  margin-top: 8px;
  font-size: 1.2rem;
  color: var(--card-main);
  text-align: center;
  text-transform: uppercase;
}

/* Inner message styling within the card */
#innerMessage {
  margin: 20px 10px;
  color: var(--card-main);
  text-align: center;
}

/* Quote styling within the card */
#quote {
  font-size: 1rem;
  font-style: italic;
  width: 90%;
  margin: 15px auto;
}

/* Author styling within the card */
.author {
  margin-top: 15px;
  text-transform: uppercase;
}

/* Thank You section container styling */
#container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 10px;
  display: none;
}

/* Thank You header styling */
#thankYouH1 {
  padding: 20px 10px;
}

/* Thank You section styling */
#thankYou {
  max-width: 500px;
}

/* Responsive styling for screen widths 768px and above */
@media screen and (min-width: 768px) {
  #mood {
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  #colourWheel1 {
    width: 275px;
    height: 275px;
  }

  .mood-btn {
    padding: 7px 12px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #messageSection {
    margin-top: 30px;
    max-width: 80%;
  }

  #onwardsBtn {
    font-size: 1.5rem;
  }

  /* Card responsive styling */
  .outerCard {
    min-width: 400px;
    min-height: 250px;
  }

  #innerCard {
    min-width: 100px;
    min-height: 250px;
  }

  #cardTitle {
    margin: 20px 0 5px;
    font-size: 1.5rem;
  }

  #lineArea {
    min-width: 300px;
    margin-left: 15px;
  }

  #quote {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .author {
    margin-top: 40px;
    font-size: 1.2rem;
  }

  #selectedColour {
    top: 20px;
  }

  #selectedFeeling {
    top: 25px;
    left: 35px;
  }

  #affirmationBtn {
    font-size: 1.5rem;
  }
}
