:root {
  --font-color: #fbf4e6;
  --bg-color: #789ab6;
  --transparent-bg: #03030327;
}

#colourWheel1 {
  width: 250px;
  height: 250px;
  background: conic-gradient(
    var(--bg-color) 0 30deg,
    var(--font-color) 0 60deg,
    var(--bg-color) 0 90deg,
    var(--font-color) 0 120deg,
    var(--bg-color) 0 150deg,
    var(--font-color) 0 180deg,
    var(--bg-color) 0 210deg,
    var(--font-color) 0 240deg,
    var(--bg-color) 0 270deg,
    var(--font-color) 0 300deg,
    var(--bg-color) 0 330deg,
    var(--font-color) 0 360deg
  );
  clip-path: circle(50% at 50% 50%);
  border: 2px solid var(--font-color);
  border-radius: 50%;
}
