@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --font-color: #fbf4e6;
  --bg-color: #789ab6;
  --transparent-bg: #03030327;
}

/* generic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Nunito', sans-serif;
}

.logo {
  width: 120px;
  height: 120px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
}

/* Header style */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
  background-color: var(--transparent-bg);
}
/*main style */
main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

#container {
  font-size: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
}

#about {
  display: flex;
  justify-content: center;
}

#container h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
}

#container p {
  --br-x: 30px;
  --br-y: 30px;
  border-top-right-radius: var(--br-x) var(--br-y);
  border-top-left-radius: var(--br-x) var(--br-y);
  width: 80%;
  font-size: 1rem;
  text-align: center;
  background-color: var(--transparent-bg);
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#start-btn,
.onwards {
  --br-x: 20px;
  --br-y: 20px;
  border-bottom-right-radius: var(--br-x) var(--br-y);
  border-bottom-left-radius: var(--br-x) var(--br-y);
  padding: 10px 20px;
  background-color: var(--transparent-bg);
  color: var(--font-color);
  border: 2px solid var(--font-color);
  font-size: 1.2rem;
  cursor: pointer;
  margin: 30px 0;
  transition: box-shadow 0.2s ease;
}

#start-btn:hover,
.mood-btn:hover,
.onwards:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--font-color);
}

#start-btn:active,
.onwards:active {
  transform: scale(0.95);
}

/* footer style */
footer {
  width: 100%;
  max-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--transparent-bg);
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (min-width: 425px) {
  #container h1 {
    font-size: 150%;
  }

  #container p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  #container {
    width: 60%;
  }

  #container h1 {
    font-size: 2rem;
  }

  #container p {
    font-size: 1.5rem;
  }

  #start-btn {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1rem;
  }

  .links a {
    font-size: 1.5rem;
  }
}
