/* Google font import for Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Root variables for global theme colors */
:root {
  --font-color: #fbf4e6;
  --bg-color: #325570;
  --transparent-bg: #03030333;
}

/* Generic styling for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Nunito', sans-serif;
}

/* Styling for logo */
.logo {
  width: 120px;
  height: 120px;
}

/* Body styling */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
}

/* Header styling */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
  background-color: var(--transparent-bg);
}

/* Main section styling */
main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

/* Container styling */
#container {
  font-size: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
  width: 80%;
}

/* About section styling */
#about {
  display: flex;
  justify-content: center;
}

/* Heading styling inside container, card, and thank you sections */
#container h1,
#cardH1,
#thankYouH1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  margin: 10px 0;
}

/* Paragraph styling inside container and thank you sections */
#container p,
#thankYou p {
  /* Curve the top right and top left corners */
  --br-x: 30px;
  --br-y: 30px;
  border-top-right-radius: var(--br-x) var(--br-y);
  border-top-left-radius: var(--br-x) var(--br-y);
  font-size: 1rem;
  text-align: center;
  background-color: var(--transparent-bg);
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Button styling for start and onwards buttons */
#start-btn,
.onwards {
  /* Curve the bottom right and bottom left corners */
  --br-x: 20px;
  --br-y: 20px;
  border-bottom-right-radius: var(--br-x) var(--br-y);
  border-bottom-left-radius: var(--br-x) var(--br-y);
  padding: 10px 20px;
  background-color: var(--transparent-bg);
  color: var(--font-color);
  border: 2px solid var(--font-color);
  font-size: 1.1rem;
  cursor: pointer;
  margin: 30px 0;
  transition: box-shadow 0.2s ease;
}

/* Hover effect for start, mood, and onwards buttons */
#start-btn:hover,
.mood-btn:hover,
.onwards:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--font-color);
}

/* Active state for start and onwards buttons */
#start-btn:active,
.onwards:active {
  transform: scale(0.95);
}

/* Footer styling */
#footer {
  width: 100%;
  max-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--transparent-bg);
}

/* Paragraph styling inside footer */
#footer p {
  font-size: 0.8rem;
  text-align: center;
}

/* Link styling inside footer */
.links {
  display: flex;
  gap: 30px;
}

/* Anchor tag styling inside links */
.links a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.2rem;
}

/* Responsive styling for screen widths 425px and above */
@media screen and (min-width: 425px) {
  #container h1,
  #cardH1,
  #thankYouH1 {
    font-size: 150%;
  }

  #container p,
  #thankYou p {
    font-size: 1.2rem;
  }

  #start-btn,
  .onwards,
  #screenshotBtn {
    font-size: 1.3rem;
  }
}

/* Responsive styling for screen widths 768px and above */
@media screen and (min-width: 768px) {
  #container h1,
  #cardH1,
  #thankYouH1 {
    font-size: 2rem;
  }

  #container p,
  #thankYou p {
    font-size: 1.5rem;
  }

  #start-btn,
  .onwards {
    font-size: 1.5rem;
  }

  #footer p {
    font-size: 1rem;
  }

  .links a {
    font-size: 1.5rem;
  }
}

/* Responsive styling for screen widths 1024px and above */
@media screen and (min-width: 1024px) {
  #container {
    width: 60%;
  }
}

/* Responsive styling for screen widths 1440px and above */
@media screen and (min-width: 1440px) {
  #container {
    width: 50%;
  }
}
